
.login-form
{
    display: flex;
justify-content: center;
align-items: center;
height: 80vh;
width: 100vw;
}
.button-block{
width: 100%;
}
.login-background
{
justify-content: center;
min-height: 30vh;
padding: 50px;
}